/*** FONTS ***/
@font-face{ font-family:'vzwIcons';src:url('../fonts/vzw-iconfont.eot');src:url('../fonts/vzw-iconfont.eot?#iefix') format('embedded-opentype'),url('../fonts/vzw-iconfont.woff') format('woff'),url('../fonts/vzw-iconfont.ttf') format('truetype'),url('../fonts/vzw-iconfont.svg#vzwIcons') format('svg');font-weight:normal;font-style:normal}
#globalNavId [class*="vgn-icon-"] b{font-family:'vzwIcons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
/*** Old font - being deprecated ***/
@font-face{font-family:"vgnVerizonApexBook";src:url('../fonts/verizonApex-book.eot');src:url('../fonts/verizonApex-book.eot?#iefix') format('eot'),url('../fonts/verizonApex-book.woff') format('woff'),url('../fonts/verizonApex-book.ttf') format('truetype'),url('../fonts/verizonApex-book.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"vgnVerizonApexMediumItalic";src:url('../fonts/verizonApex-medium-italic.eot');src:url('../fonts/verizonApex-medium-italic.eot?#iefix') format('eot'),url('../fonts/verizonApex-medium-italic.woff') format('woff'),url('../fonts/verizonApex-medium-italic.ttf') format('truetype'),url('../fonts/verizonApex-medium-italic.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexLight";src:url('../fonts/verizonApex-light.eot');src:url('../fonts/verizonApex-light.eot?#iefix') format('eot'),url('../fonts/verizonApex-light.woff') format('woff'),url('../fonts/verizonApex-light.ttf') format('truetype'),url('../fonts/verizonApex-light.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexLightItalic";src:url('../fonts/verizonApex-light-italic.eot');src:url('../fonts/verizonApex-light-italic.eot?#iefix') format('eot'),url('../fonts/verizonApex-light-italic.woff') format('woff'),url('../fonts/verizonApex-light-italic.ttf') format('truetype'),url('../fonts/verizonApex-light-italic.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexBook";src:url('../fonts/verizonApex-book.eot');src:url('../fonts/verizonApex-book.eot?#iefix') format('eot'),url('../fonts/verizonApex-book.woff') format('woff'),url('../fonts/verizonApex-book.ttf') format('truetype'),url('../fonts/verizonApex-book.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexBookItalic";src:url('../fonts/verizonApex-book-italic.eot');src:url('../fonts/verizonApex-book-italic.eot?#iefix') format('eot'),url('../fonts/verizonApex-book-italic.woff') format('woff'),url('../fonts/verizonApex-book-italic.ttf') format('truetype'),url('../fonts/verizonApex-book-italic.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexMedium";src:url('../fonts/verizonApex-medium.eot');src:url('../fonts/verizonApex-medium.eot?#iefix') format('eot'),url('../fonts/verizonApex-medium.woff') format('woff'),url('../fonts/verizonApex-medium.ttf') format('truetype'),url('../fonts/verizonApex-medium.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexMediumItalic";src:url('../fonts/verizonApex-medium-italic.eot');src:url('../fonts/verizonApex-medium-italic.eot?#iefix') format('eot'),url('../fonts/verizonApex-medium-italic.woff') format('woff'),url('../fonts/verizonApex-medium-italic.ttf') format('truetype'),url('../fonts/verizonApex-medium-italic.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexBold";src:url('../fonts/verizonApex-bold.eot');src:url('../fonts/verizonApex-bold.eot?#iefix') format('eot'),url('../fonts/verizonApex-bold.woff') format('woff'),url('../fonts/verizonApex-bold.ttf') format('truetype'),url('../fonts/verizonApex-bold.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexBoldItalic";src:url('../fonts/verizonApex-bold-italic.eot');src:url('../fonts/verizonApex-bold-italic.eot?#iefix') format('eot'),url('../fonts/verizonApex-bold-italic.woff') format('woff'),url('../fonts/verizonApex-bold-italic.ttf') format('truetype'),url('../fonts/verizonApex-bold-italic.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexExtrabold";src:url('../fonts/verizonApex-extrabold.eot');src:url('../fonts/verizonApex-extrabold.eot?#iefix') format('eot'),url('../fonts/verizonApex-extrabold.woff') format('woff'),url('../fonts/verizonApex-extrabold.ttf') format('truetype'),url('../fonts/verizonApex-extrabold.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"VerizonApexExtraboldItalic";src:url('../fonts/verizonApex-extrabold-italic.eot');src:url('../fonts/verizonApex-extrabold-italic.eot?#iefix') format('eot'),url('../fonts/verizonApex-extrabold-italic.woff') format('woff'),url('../fonts/verizonApex-extrabold-italic.ttf') format('truetype'),url('../fonts/verizonApex-extrabold-italic.svg') format('svg');font-weight:normal;font-style:normal}
/*** New font ***/
@font-face{font-family:"NeueHaasGroteskDisplay";src:url("../fonts/NeueHaasGroteskDisplay.eot?#iefix");src:url("../fonts/NeueHaasGroteskDisplay.eot?#iefix") format("eot"),url("../fonts/NeueHaasGroteskDisplay.woff2") format("woff2"),url("../fonts/NeueHaasGroteskDisplay.woff") format("woff"),url("../fonts/NeueHaasGroteskDisplay.ttf") format("truetype"),url("../fonts/NeueHaasGroteskDisplay.svg#NeueHaasGroteskDisplayBold") format("svg");}
@font-face{font-family:"NeueHaasGroteskDisplayBold";src:url("../fonts/NeueHaasGroteskDisplayBold.eot?#iefix");src:url("../fonts/NeueHaasGroteskDisplayBold.eot?#iefix") format("eot"),url("../fonts/NeueHaasGroteskDisplayBold.woff2") format("woff2"),url("../fonts/NeueHaasGroteskDisplayBold.woff") format("woff"),url("../fonts/NeueHaasGroteskDisplayBold.ttf") format("truetype"),url("../fonts/NeueHaasGroteskDisplayBold.svg#NeueHaasGroteskDisplayBold") format("svg");}
@font-face{font-family:"NeueHaasGroteskDisplayMedium";src:url("../fonts/NeueHaasGroteskDisplayMedium.eot?#iefix");src:url("../fonts/NeueHaasGroteskDisplayMedium.eot?#iefix") format("eot"),url("../fonts/NeueHaasGroteskDisplayMedium.woff2") format("woff2"),url("../fonts/NeueHaasGroteskDisplayMedium.woff") format("woff"),url("../fonts/NeueHaasGroteskDisplayMedium.ttf") format("truetype"),url("../fonts/NeueHaasGroteskDisplayMedium.svg#NeueHaasGroteskDisplayMedium") format("svg");}
@font-face{font-family:"NeueHaasGroteskText";src:url("../fonts/NeueHaasGroteskText.eot?#iefix");src:url("../fonts/NeueHaasGroteskText.eot?#iefix") format("eot"),url("../fonts/NeueHaasGroteskText.woff2") format("woff2"),url("../fonts/NeueHaasGroteskText.woff") format("woff"),url("../fonts/NeueHaasGroteskText.ttf") format("truetype"),url("../fonts/NeueHaasGroteskText.svg#NeueHaasGroteskText") format("svg");}
@font-face{font-family:"NeueHaasGroteskTextBold";src:url("../fonts/NeueHaasGroteskTextBold.eot?#iefix");src:url("../fonts/NeueHaasGroteskTextBold.eot?#iefix") format("eot"),url("../fonts/NeueHaasGroteskTextBold.woff2") format("woff2"),url("../fonts/NeueHaasGroteskTextBold.woff") format("woff"),url("../fonts/NeueHaasGroteskTextBold.ttf") format("truetype"),url("../fonts/NeueHaasGroteskTextBold.svg#NeueHaasGroteskTextBold") format("svg");}
@font-face{font-family:"NeueHaasGroteskTextMedium";src:url("../fonts/NeueHaasGroteskTextMedium.eot?#iefix");src:url("../fonts/NeueHaasGroteskTextMedium.eot?#iefix") format("eot"),url("../fonts/NeueHaasGroteskTextMedium.woff2") format("woff2"),url("../fonts/NeueHaasGroteskTextMedium.woff") format("woff"),url("../fonts/NeueHaasGroteskTextMedium.ttf") format("truetype"),url("../fonts/NeueHaasGroteskTextMedium.svg#NeueHaasGroteskTextMedium") format("svg");}


/*** FOOTER START ***/
#footer {
	background: #fff;
	border-top: 1px solid #e6e6e6;
	clear: both;
	display:block;
	font-family:NeueHaasGroteskText, Arial, Helvetica, San-Serif;
	font-size: .9em;
	margin: 0 auto;
	padding:53px 0 0;
	position:static;
	text-align: center;
}
#footer.footerHasJs {
	display:none;
}
#footer input::-ms-clear, #footer input::-ms-clear {
	display:none;
}
#footer .clear {
	clear:both;
}
#footer ul, #footer li {
	margin:0;
	padding:0;
}
#footer a {
	text-decoration:none;
}
#footer a:focus, #footer button:focus {
    outline:#333333 dotted 1px;
}
#footer .footerMainLinks ul li {
	background: none!important;
	line-height:14px;
	padding: 0;
	margin-bottom:8px;
}

#footer .footerMainLinks a {
	color:#4b4b4b;
	font-family:NeueHaasGroteskText, Arial, Helvetica, San-Serif !important;
	font-size:12px;
	font-weight:normal;
}
#footer .footerMainLinks a:hover, #footer .footerMainLinks a:focus, #footer .footerBottomLinks div a:hover, #footer .footerBottomLinks div a:focus {
	color:#00478e;
}
#footer .footerMainLinks a:active, #footer .footerBottomLinks div a:active {
	color:#000;
}

#footer #footerLinksHeader{
	box-sizing:border-box;
	float:none;
	margin:0 auto;
	padding:0 22px 100px;
	width:984px;
}

#footer #footerLinksHeader .footerCopyright {
	color:#949494;
	font-size:10px !important;
	font-weight:normal;
	line-height:14px;
	text-align:left;
}

#footer #footerVzwOptIn {
	background:none;
	display:none;
	float:left;
	margin:0;
	max-width:620px;
	position:relative;
	width:100%;
}

#footer #footerLinksHeader .footerLinksHeaderRight {
	float:none;
	text-align:left;
}
#footer #footerLinksHeader .footerSocialIcons {
	display:none;
	float:right;
	font-size:11px;
	margin:0 0 36px;
}
#footer #footerLinksHeader .footerSocialIcons span {
	float:left;
	vertical-align:top;
}
#footer #footerVzwOptIn .icon-mail {
	background:none;
	color: #595a5d;
	cursor:default;
	display: inline-block;
	font-family: 'vzwIcons';
	font-size:45px !important;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 40px;
	line-height:45px;
	margin:0 10px 8px 0;
	overflow: hidden;
	speak: none;
	text-transform: none;
	vertical-align: bottom;
	width: 46px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#footer #footerVzwOptInInput {
	box-sizing:border-box;
	display:inline-block;
	height:48px;
	max-width:620px;
	position:relative;
	vertical-align:top;
	width:100%;
}
#footer #footerVzwOptInInput label {
	background:#f7f7f7;
	box-sizing:border-box !important;
	border:none;
	color:#b8b8b8;
	cursor:text;
	display:block;
	font-family:NeueHaasGroteskText, Arial, Helvetica, San-Serif;
	font-size:18px;
	font-weight:normal;
	height:48px;
	line-height:24px;
	margin:0;
	padding:12px 0 12px 13px;
	width:100%;
}

#footer #footerLinksHeader .textbox {
	background-color:transparent;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	box-sizing:border-box !important;
	color:#3b3b3b;
	font-family:NeueHaasGroteskText, Arial, Helvetica, San-Serif;
	font-size:18px;
	height:48px;
	line-height:24px;
	left:0;
	margin:0;
	padding:12px 150px 12px 13px !important;
	position:absolute;
	top:0;
	width:100%;
}
#footer #footerLinksHeader .textbox:active, #footer #footerLinksHeader .textbox:focus, #footer #footerLinksHeader .textbox:hover {
	outline:#fff;
	opacity:1;
}
#footer #footerLinksHeader .textbox:focus {
	border:1px solid #959595;
	padding-left:13px !important;
	padding:11px 149px 11px 12px !important;
}
#footer #footerLinksHeader .has-text .textbox {
	background:#f7f7f7;
}

#footer #footerLinksHeader a {
	border:none;
	display:block;
	float:left;
	height:36px;
	margin:0 0 0 5px;
	overflow:hidden;
	padding:0;
	text-align:center;
	width:36px;
}
#footer #footerLinksHeader a:first-child { margin:0; }
#footer #footerLinksHeader a.emailIcon, #footer #footerLinksHeader a.chatIcon {
	background:#949494;
	border-radius:18px;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	-webkit-transition:background-color .4s ease-out 0s,border-color .4s ease-out 0s;
       -moz-transition:background-color .4s ease-out 0s,border-color .4s ease-out 0s;
         -o-transition:background-color .4s ease-out 0s,border-color .4s ease-out 0s;
            transition:background-color .4s ease-out 0s,border-color .4s ease-out 0s;
}
#footer #footerLinksHeader a.emailIcon:hover, #footer #footerLinksHeader a.chatIcon:hover,
#footer #footerLinksHeader a.emailIcon:focus, #footer #footerLinksHeader a.chatIcon:focus {
	background-color:#676767;
}
#footer #footerLinksHeader a.emailIcon:active, #footer #footerLinksHeader a.chatIcon:active {
	background-color:#000;
}
#footer #footerLinksHeader a.emailIcon:after, #footer #footerLinksHeader a.chatIcon:after {
    color:#fff;
	font-family:'vzwIcons';
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	font-size:14px;
	line-height:36px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#footer #footerLinksHeader a.emailIcon:after{ content:"\e04f";font-size:16px; }
#footer #footerLinksHeader a.chatIcon:after{ content:"\e60c"; }
#footer #footerLinksHeader a.facebookIcon, #footer #footerLinksHeader a.twitterIcon, #footer #footerLinksHeader a.googleplusIcon {
	background:url(../i/social-icons.png) no-repeat top left;
}
#footer #footerLinksHeader .facebookIconimg, #footer #footerLinksHeader .twitterIconimg, #footer #footerLinksHeader .googleplusIconimg {
	content:url(../i/social-icons.png);
	background-repeat: no-repeat;
	object-fit:none;
	display:block;
	height:1px;
	width:1px;
}
#footer #footerLinksHeader a.twitterIcon { background-position:-37px 0;}
#footer #footerLinksHeader .twitterIconimg { object-position:-37px 0;}
#footer #footerLinksHeader a.googleplusIcon { background-position:-74px 0;}
#footer #footerLinksHeader .googleplusIconimg { object-position:-74px 0;}

#footer #footerLinks {
	color:#000;
	text-align:left;
	width:100% !important;
}

#footer .footerMainLinks {
	box-sizing:border-box;
	clear:both;
	float:none;
	font-size:12px;
	margin:0 auto;
	padding:0 22px 93px;
	text-align:center;
	width:984px;
}
#footer .footerMainLinksRow {
	display:table;
	width:100%;
}

#footer .footerMainLinks .col {
	display:table-cell;
	float:none;
	padding:0 20px 0 0;
	margin:0;
	text-align:left;
	vertical-align:top;
	zoom:1;
}

#footer .footerMainLinks .col h3, #footer .footerMainLinks .col h6 {
	color:#000;
	font-family:NeueHaasGroteskTextBold, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	line-height:17px;
	margin:0;
	padding:0;
}

#footer .footerMainLinks ul {
	list-style-type: none;
	margin:0;
}
#footer .footerMainLinks ul.tcol1 {
	padding:15px 0 0;
}

#footer .gradientDivider {
	background: #d9d9d9 url(../i/gradientDividerBottom.gif) bottom no-repeat;
	display:inline-block;
	float:none;
	height:170px;
	margin:0;
	overflow:hidden;
	padding:0;
	vertical-align:top;
	width: 1px;
}
#footer .footerBase {
	background:#f7f7f7;
	min-width:600px;
	padding:63px 0 75px;
}
#footer .footerBottomLinks {
	box-sizing:border-box;
	font-size: 10px;
	line-height:13px;
	margin:0 auto;
	padding:0 22px;
	text-align: center;
	width:984px;	
}
#footer .footerBottomLinks div {
	color:#949494;
	font-size:10px;
	padding:8px 0 0;
}
#footer .footerBottomLinks div a {
	color:#000;
	font-family:NeueHaasGroteskText, Arial, Helvetica, San-Serif !important;
	font-size:10px;
	font-weight: normal;
}

#footer #footerIcons {
	background:none;
	box-sizing:border-box;
	display:none;
	margin:0 auto;
	padding:78px 22px 0;
	text-align:center;
	width:984px;	
}
#footer #footerIcons.show {
	display:block;
}

#footer #footerIcons a, #footer #footerIcons #footerIcons-verisign {
	display:inline-block;
	float:center;
	margin:0 11px;
	padding:0;
	vertical-align:bottom;
}
#footer #footerIcons a {
	overflow: hidden;
	text-indent:-999px;
}

#footer #footerIcons iframe {
	margin: 10px 11px;
}

#footer #footerIcons a.nortonSecured {
width:100px;
height:72px;
background:transparent url(../i/omnifooter.png) no-repeat 0 0;
}

#footer #footerIcons .nortonSecuredimg {
width:100px;
height:72px;
content:url(../i/omnifooter.png);
background-repeat: no-repeat;
object-position: 0 0;
object-fit:none;
}

#footer #footerIcons a.finalMark {
width:125px;
height:72px;
background: transparent url(../i/omnifooter.png) no-repeat 0 -73px;
}

#footer #footerIcons .finalMarkimg {
width:125px;
height:72px;
content:url(../i/omnifooter.png);
background-repeat: no-repeat;
object-position: 0 -73px;
object-fit:none;
}

#footer #footerIcons a.bbbOnline {
width:96px;
height:72px;
background: transparent url(../i/omnifooter.png) no-repeat 0 -146px;
}

#footer #footerIcons .bbbOnlineimg {
width:96px;
height:72px;
content:url(../i/omnifooter.png);
background-repeat: no-repeat;
object-position: 0 -146px;
object-fit:none;
}

#footer #footerIcons a.ctiaSeal {
width:64px;
height:72px;
background: transparent url(../i/omnifooter.png) no-repeat 0 -219px;
}

#footer #footerIcons .ctiaSealimg {
width:64px;
height:72px;
content:url(../i/omnifooter.png);
background-repeat: no-repeat;
object-position: 0 -219px;
object-fit:none;
}

#footer #footerIcons a.vbvLogo {
width:75px;
height:72px;
background: transparent url(../i/omnifooter.png) no-repeat 0 -292px;
}

#footer #footerIcons .vbvLogoimg {
width:75px;
height:72px;
content:url(../i/omnifooter.png);
background-repeat: no-repeat;
object-position: 0 -292px;
object-fit:none;
}

#footer #footerIcons a.mcscLogo {
width:90px;
height:72px;
background: transparent url(../i/omnifooter.png) no-repeat 0 -365px;
}

#footer #footerIcons .mcscLogoimg {
width:90px;
height:72px;
content:url(../i/omnifooter.png);
background-repeat: no-repeat;
object-position: 0 -365px;
object-fit:none;
}
#footer .sr-only, #footer #footerLinks .vzw-hidden-footer {
position: absolute;
margin: -1px 0 0 -1px;
padding: 0;
display: block;
width: 1px;
height: 1px;
font-size: 1px;
line-height: 1px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
outline: 0;
}
#footer .vzw-button-red {
	background:#000;
	border:none;
	border-radius:0;
	box-sizing:border-box;
	color:#ffffff;
	cursor:pointer;
	display:inline-block;
	font-family:NeueHaasGroteskDisplayBold, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:16px;
	height:48px;
	line-height:48px;
	margin:0;
	padding:0 30px;
	position:absolute;
	right:0;
	text-align:center;
	top:0 !important;
	-webkit-transition:background-color .4s ease-out 0s,border-color .4s ease-out 0s;
           -moz-transition:background-color .4s ease-out 0s,border-color .4s ease-out 0s;
             -o-transition:background-color .4s ease-out 0s,border-color .4s ease-out 0s;
                transition:background-color .4s ease-out 0s,border-color .4s ease-out 0s;
	vertical-align:bottom;
}
#footer .vzw-button-red span {
	color: #fff;
	display:none;
	font-family: 'vzwIcons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 14px;
	height:20px;
	line-height: 20px;
	margin:14px 0 0 11px;
	speak: none;
	vertical-align:top;
	width:10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#footer #footerLinksHeader .footerVerbiage {
	box-sizing:content-box;
	color:#949494;
	font-size:10px;
	line-height:14px;
	margin:0;
	padding:24px 0 0;
	width:90%;
}
#footer #footerLinksHeader .footerVerbiage a {
width: auto;
float: none;
display: inline;
text-decoration: underline;
color: #0000ff;
}

/*** Show/hide options ***/
#footer #footerLinksHeader.footerShowEmailForm #footerVzwOptIn {
	display:block;
}
#footer #footerLinksHeader.footerShowEmailForm .footerLinksHeaderRight {
	float:right;
}

#footer #footerLinksHeader.footerShowSocial .footerSocialIcons {
	display:block;
}
#footer #footerLinksHeader.footerShowSocial .footerCopyright {
	line-height:36px;
}

#footer #footerLinksHeader.footerShowSocial.footerShowEmailForm .footerCopyright {
	line-height:14px;
}
#footer #footerLinksHeader.footerShowSocial.footerShowEmailForm .footerSocialIcons {
	float:none;
}


@media only screen and (min-width: 1px) {
	#footer #footerLinksHeader, #footer .footerMainLinks, #footer .footerBottomLinks, #footer #footerIcons {
		max-width:984px;
		min-width:600px;
		width:100%;
	}
	#footer #footerLinksHeader a.facebookIcon, #footer #footerLinksHeader a.twitterIcon, #footer #footerLinksHeader a.googleplusIcon {
		background-image:url(../i/social-icons-2x.png);
		-webkit-background-size:110px 36px;
		   -moz-background-size:110px 36px;
		     -o-background-size:110px 36px;
		        background-size:110px 36px;
	}
	#footer #footerLinksHeader .facebookIconimg, #footer #footerLinksHeader .twitterIconimg, #footer #footerLinksHeader .googleplusIconimg {
		content:url(../i/social-icons-2x.png);
		background-repeat: no-repeat;
		object-position:110px 36px;
		object-fit:none;
		display:block;	
		height:1px;
		width:1px;	        
	}
}
@media only screen and (max-width: 983px) {
	#footer #footerLinksHeader a {
		margin-left:12px;
	}
	#footer #footerLinksHeader .footerSocialIcons {
		margin-bottom:12px;
	}
	#footer #footerLinksHeader .footerLinksHeaderRight {
		clear:both;
		float:none;
	}
	#footer #footerLinksHeader.footerShowEmailForm .footerLinksHeaderRight {
		float:none;
		padding-top:36px;
	}
	#footer #footerLinksHeader {
		padding-bottom:36px;
	}
	#footer .footerMainLinksRow {
		display:block;
	}
	#footer .footerMainLinks .col {
		display:block;
		padding:0 0 24px;
	}
	#footer .footerMainLinks .col:after {
		clear:both;
		content:" ";
		display:table;
	}
	#footer .footerMainLinks .col h3 {
		border-bottom:1px solid #ccc;
		cursor:pointer;
		padding:8px 0;
	}
	#footer .footerMainLinks .col h3:after {
		color:#cd040b;
		content:"\e078";
		float:right;
		font-family:'vzwIcons';
		font-style:normal;
		font-weight:normal;
		font-variant:normal;
		font-size:14px;
		line-height:17px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	#footer .footerMainLinks .col.open h3:after {
		content:"\e077";
	}
	#footer .footerMainLinks ul.tcol1, #footer .footerMainLinks ul.tcol2, #footer .footerMainLinks ul.tcol3 {
		float:left;
		width:31.43%;
	}
	#footer .footerMainLinks ul.tcol1 {
		margin-right:2.86%;
	}
	#footer .footerMainLinks ul.tcol3 {
		float:right;
	}
	#footer .footerMainLinks ul {
		display:none;
		padding:15px 0 0;
	}
	#footer .footerMainLinks .col.open ul {
		display:block;
	}
	#footer .footerMainLinks ul li:last-child {
		margin:0;
	}
}

/*** FOOTER END ***/
